## Q.1

In [ ]:
Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
•	Print all elements from my_tuple on a new line (using for loop)
•	Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ((1,2,3),[4,5,6],('apple','banana','cherry'),[7,8,9])

In [3]:
for i in my_tuple:
    print(i)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [10]:
my_tuple1 = my_tuple[0] + tuple(my_tuple[3])
my_tuple1

(1, 2, 3, 7, 8, 9)

## Q.2

In [ ]:
Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
•	Add a new book in inventory using method and get all book titles using method
•	Remove a book if it's out of stock

In [1]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }

In [18]:
inventory["2025"] = {"price" : 14, "quantity" : 6}
print("book added:", inventory)

book added: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, '2025': {'price': 14, 'quantity': 6}}

In [19]:
titles = list(inventory.keys())
print("all book titles:", title)

all book titles: ['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', '2025']

In [26]:
inventory = {title: details for title, details in inventory.items() if details["quantity"] > 0}
print("Updated inventory after removing out-of-stock books:", inventory1)

Updated inventory after removing out-of-stock books: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, '2025': {'price': 14, 'quantity': 6}}

## Q.3

In [ ]:
Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
•	Increase the stock of the "Shirt" product (add 50 more units)
•	Add a new product (e.g., "Smartphone")

In [36]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }

In [74]:
products[102]["stock"] = 200 + 50
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'smartphone',
  'category': 'Electronics',
  'price': 3000,
  'stock': 70}}

In [39]:
products[104] = {"name": "smartphone", "category": "Electronics", "price": 3000, "stock": 70}
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'smartphone',
  'category': 'Electronics',
  'price': 3000,
  'stock': 70}}

## Q.4

In [ ]:
Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [40]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [45]:
shopping_list_set = set(shopping_list)
shopping_list_set

{'apple', 'banana', 'grape', 'orange'}

## Q.5

In [ ]:
Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
•	Find students who are in Course A but not in Course B (difference)
•	Find students who are only in one of the two courses (symmetric difference)

In [46]:
course_a = {"John", "Alice", "Bob", "David"}

In [47]:
course_b = {"Alice", "Eve", "Charlie", "David"}

In [49]:
course = course_a.difference(course_b)
course

{'Bob', 'John'}

In [51]:
course_1 = course_a.symmetric_difference(course_b)
course_1

{'Bob', 'Charlie', 'Eve', 'John'}

## Q.6

In [ ]:
Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
Hint
1.	Initialize a variable to hold the sum (e.g., sum_of_evens).
2.	Use a for loop to iterate through all numbers from 1 to 50.
3.	Inside the loop, check if the number is even.
4.	If the number is even, add it to sum_of_evens.
5.	After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [57]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [81]:
sum_of_evens = 0
for i in range(2,51,2):
    sum_of_evens += i
    print("the sum :",sum_of_evens)

the sum : 2
the sum : 6
the sum : 12
the sum : 20
the sum : 30
the sum : 42
the sum : 56
the sum : 72
the sum : 90
the sum : 110
the sum : 132
the sum : 156
the sum : 182
the sum : 210
the sum : 240
the sum : 272
the sum : 306
the sum : 342
the sum : 380
the sum : 420
the sum : 462
the sum : 506
the sum : 552
the sum : 600
the sum : 650

In [63]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [80]:
for i in range(1,51):
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even

In [86]:
sum_of_evens = 0
for i in range(1,51):
    if i % 2 == 0:
        sum_of_evens += i
        print("the sum of all even numbers between 1 and 50:",sum_of_evens)

the sum of all even numbers between 1 and 50: 2
the sum of all even numbers between 1 and 50: 6
the sum of all even numbers between 1 and 50: 12
the sum of all even numbers between 1 and 50: 20
the sum of all even numbers between 1 and 50: 30
the sum of all even numbers between 1 and 50: 42
the sum of all even numbers between 1 and 50: 56
the sum of all even numbers between 1 and 50: 72
the sum of all even numbers between 1 and 50: 90
the sum of all even numbers between 1 and 50: 110
the sum of all even numbers between 1 and 50: 132
the sum of all even numbers between 1 and 50: 156
the sum of all even numbers between 1 and 50: 182
the sum of all even numbers between 1 and 50: 210
the sum of all even numbers between 1 and 50: 240
the sum of all even numbers between 1 and 50: 272
the sum of all even numbers between 1 and 50: 306
the sum of all even numbers between 1 and 50: 342
the sum of all even numbers between 1 and 50: 380
the sum of all even numbers between 1 and 50: 420
the sum of all even numbers between 1 and 50: 462
the sum of all even numbers between 1 and 50: 506
the sum of all even numbers between 1 and 50: 552
the sum of all even numbers between 1 and 50: 600
the sum of all even numbers between 1 and 50: 650

## Q.7

In [ ]:
Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.
Hint:
1.	Ask the user for a number between 1 and 10 .
2.	Use a for loop to iterate through the numbers from 1 to 10.
3.	For each iteration, calculate the product of the given number and the current number in the loop.
4.	Print the result in a readable format (e.g., 5 x 1 = 5).
5.	Ensure the program works correctly for any number between 1 and 10.
Output Hint:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [6]:
number = int(input("enter a number between 1 and 10:"))
if 1 <= number <= 10:
    print(f" multiplication table for {number}:")
    for i in range(1,11):
        print(f"{number} * {i} = {number * i}")
else:
    print("Invalid input.The number between 1 and 10.")

enter a number between 1 and 10: 3

 multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

## Q.8

In [ ]:
Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [9]:
power = int(input("enter a number:"))
exponent = 1
while exponent <= 10:
    print(f"{power} ^ {exponent} = {power ** exponent}")
    exponent += 1

enter a number: 9

9 ^ 1 = 9
9 ^ 2 = 81
9 ^ 3 = 729
9 ^ 4 = 6561
9 ^ 5 = 59049
9 ^ 6 = 531441
9 ^ 7 = 4782969
9 ^ 8 = 43046721
9 ^ 9 = 387420489
9 ^ 10 = 3486784401

## Q.9

In [ ]:
Q9. Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown: 3
3
2
1
0
Countdown finished!

In [14]:
number = int(input("enter a number:"))
countdown = number
while countdown >= 0:
    print(f"Enter a number to start the countdown: {countdown}")
    countdown -= 1
print("countdown finished!")

enter a number: 22

Enter a number to start the countdown: 22
Enter a number to start the countdown: 21
Enter a number to start the countdown: 20
Enter a number to start the countdown: 19
Enter a number to start the countdown: 18
Enter a number to start the countdown: 17
Enter a number to start the countdown: 16
Enter a number to start the countdown: 15
Enter a number to start the countdown: 14
Enter a number to start the countdown: 13
Enter a number to start the countdown: 12
Enter a number to start the countdown: 11
Enter a number to start the countdown: 10
Enter a number to start the countdown: 9
Enter a number to start the countdown: 8
Enter a number to start the countdown: 7
Enter a number to start the countdown: 6
Enter a number to start the countdown: 5
Enter a number to start the countdown: 4
Enter a number to start the countdown: 3
Enter a number to start the countdown: 2
Enter a number to start the countdown: 1
Enter a number to start the countdown: 0
countdown finished!

## Q.10

In [ ]:
Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# Pattern:
*
**
***
****
*****

In [40]:
n = int(input("enter a number of rows:"))
if 1 <= n <= 9:
    for i in range(1, n + 1):
        print(" ".join("*" * i))
else:
    print("invalid row number")

enter a number of rows: 1

*